@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@900&display=swap");

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}
a{
  color: #1C273A;
}

.padding-x {
  padding-left: 50px;
  padding-right: 50px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  background-color: #1C273A;
  color: white;
}

::placeholder {
  font-size: 18px;
  color: #1C273A;
  opacity: 0.6;
}
select {
  padding: 10px;
  font-size: 18px;
}
.logo h1 {
  font-family: "Source Code Pro", monospace;
  font-size: 35px;
}
.logo {
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  border-radius: 50%;
  background-color: white;
  color: #1C273A;
}
.main {
  display: flex;
  gap: 1%;
  margin: 50px 0;
  flex-wrap: wrap;
}
.card {
  width: 24%;
  height: 370px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  margin-bottom: 20px;
  transition: 0.5s;
}
.card:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 
  0px 50px 100px -20px, 
  rgba(0, 0, 0, 0.3) 
  0px 30px 60px -30px;
}
.card .photo {
  height: 45%;
  width: 100%;
  position: relative;
}
.card .photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card .photo .category {
  position: absolute;
  background-color: #df4b3b;
  padding: 5px;
  bottom: 0;
  left: 0;
  color: #fff;
  font-weight: 400;
}

.card .content {
  width: 100%;
  height:55%;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card .content .footer{
    display: flex;
    margin-top: 10px;
}

.card .content .footer p {
 margin-right: 10px;
 color: dimgrey;
}
.content > p{
    text-align: justify;
}

.loading{
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left:0;
  width: 100%;
  height: 100vh;
  background-color: #1C273A;
  display: none;
}
.display{
  display: flex!important;
}
@media screen and (max-width: 1026px) {
.card{
  width: 32%;
}
.padding-x{
  padding-left: 20px;
  padding-right: 20px;
}
}
@media screen and (max-width: 964px) {
.card{
  width: 49%;
}

}
@media screen and (max-width: 764px) {
.card{
  width: 100%;
}
}